<div class="jumbotron text-center">
  <h1 class="display-4">Stridecatcher</h1>
  <p class="lead">A simple Strava clone.</p>
  <div class="btn-group">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>