<%= debug(@activity.inspect) %>
<p>Duration</p>
<%= format_duration(@activity.duration) if @activity.duration.present? %>
<p>Pace</p>
<%= format_duration(@activity.calculated_pace) if @activity.calculated_pace.present? %>